.darkmodebtn{
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: var(--btn-background-color);
}
.darkmodebtn svg{
  width: 30px;
  height: 30px;
  color: var(--btn-color);
}